In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, accuracy_score

In [18]:
credito = pd.read_csv('Credit.csv')
credito.head()

  checking_status  duration  ... foreign_worker class
0              <0         6  ...            yes  good
1        0<=X<200        48  ...            yes   bad
2   'no checking'        12  ...            yes  good
3              <0        42  ...            yes  good
4              <0        24  ...            yes   bad

[5 rows x 21 columns]

In [19]:
previsores = credito.iloc[:,0:20].values
classe = credito.iloc[:,20].values

In [20]:
#transformando categorico em numerico

previsores[:,0] = LabelEncoder().fit_transform(previsores[:,0])

previsores[:,2] = LabelEncoder().fit_transform(previsores[:,2])

previsores[:,3] = LabelEncoder().fit_transform(previsores[:,3])

previsores[:,4] = LabelEncoder().fit_transform(previsores[:,4])

previsores[:,5] = LabelEncoder().fit_transform(previsores[:,5])

previsores[:,6] = LabelEncoder().fit_transform(previsores[:,6])

previsores[:,8] = LabelEncoder().fit_transform(previsores[:,8])

previsores[:,9] = LabelEncoder().fit_transform(previsores[:,9])

previsores[:,11] = LabelEncoder().fit_transform(previsores[:,11])

previsores[:,13] = LabelEncoder().fit_transform(previsores[:,13])

previsores[:,14] = LabelEncoder().fit_transform(previsores[:,14])

previsores[:,16] = LabelEncoder().fit_transform(previsores[:,16])

previsores[:,18] = LabelEncoder().fit_transform(previsores[:,18])

previsores[:,19] = LabelEncoder().fit_transform(previsores[:,19])

In [21]:
#separando treino e teste
X_train, X_test, y_train, y_test = train_test_split(previsores,
                                                    classe,
                                                    test_size= 0.3,
                                                    random_state= 0)

X_train

array([[1, 24, 1, ..., 2, 1, 1],
       [0, 36, 3, ..., 1, 1, 1],
       [2, 15, 1, ..., 2, 1, 1],
       ...,
       [0, 9, 3, ..., 1, 0, 1],
       [1, 18, 1, ..., 1, 0, 1],
       [1, 36, 2, ..., 2, 1, 1]], dtype=object)

In [23]:
#treinamento
nb = GaussianNB()
nb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [25]:
#previsÃµes
previsoes = nb.predict(X_test)
previsoes

array(['bad', 'good', 'good', 'good', 'bad', 'good', 'good', 'good',
       'bad', 'bad', 'bad', 'bad', 'good', 'bad', 'bad', 'good', 'good',
       'good', 'bad', 'good', 'bad', 'good', 'bad', 'good', 'good', 'bad',
       'good', 'good', 'good', 'bad', 'good', 'good', 'good', 'good',
       'good', 'bad', 'good', 'good', 'good', 'good', 'bad', 'bad',
       'good', 'good', 'good', 'bad', 'bad', 'bad', 'bad', 'bad', 'good',
       'bad', 'good', 'good', 'good', 'good', 'bad', 'good', 'good',
       'good', 'bad', 'good', 'bad', 'good', 'good', 'good', 'good',
       'good', 'bad', 'good', 'good', 'good', 'bad', 'good', 'bad',
       'good', 'good', 'good', 'good', 'good', 'good', 'bad', 'good',
       'bad', 'good', 'good', 'good', 'bad', 'good', 'bad', 'good',
       'good', 'bad', 'good', 'good', 'good', 'good', 'good', 'bad',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'bad',
       'bad', 'bad', 'good', 'good', 'bad', 'bad', 'good', 'bad', 'good',
       'bad', 'good', 'bad', 'bad', 'bad', 'good', 'good', 'bad', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'bad',
       'good', 'good', 'good', 'good', 'good', 'good', 'bad', 'bad',
       'bad', 'good', 'bad', 'good', 'good', 'good', 'bad', 'bad', 'bad',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'bad',
       'good', 'good', 'bad', 'bad', 'bad', 'good', 'bad', 'bad', 'bad',
       'good', 'good', 'bad', 'bad', 'good', 'bad', 'bad', 'good', 'good',
       'bad', 'bad', 'good', 'good', 'good', 'bad', 'bad', 'bad', 'good',
       'bad', 'good', 'good', 'good', 'good', 'good', 'bad', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'bad', 'bad', 'good', 'good', 'good', 'bad', 'good', 'good',
       'good', 'bad', 'bad', 'bad', 'good', 'bad', 'good', 'good', 'bad',
       'bad', 'bad', 'bad', 'good', 'good', 'good', 'good', 'bad', 'good',
       'bad', 'bad', 'good', 'good', 'good', 'bad', 'good', 'bad', 'good',
       'good', 'good', 'bad', 'bad', 'good', 'good', 'good', 'good',
       'good', 'bad', 'good', 'good', 'good', 'good', 'good', 'bad',
       'good', 'good', 'good', 'good', 'bad', 'bad', 'good', 'good',
       'bad', 'good', 'good', 'good', 'bad', 'bad', 'bad', 'bad', 'good',
       'bad', 'bad', 'good', 'good', 'good', 'bad', 'good', 'good', 'bad',
       'good', 'good', 'good', 'good', 'good', 'good', 'bad', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'bad', 'good',
       'good', 'good', 'bad', 'good', 'bad', 'bad'], dtype='<U4')

In [27]:
#verificando taxa de acerto
taxa_acerto = accuracy_score(previsoes, y_test)
taxa_acerto

0.71