In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
import statistics as sts

In [ ]:
#lendo data
titanic = pd.read_csv('train.csv')
titanic.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

# FAZENDO O TRATAMENTO DOS DADOS

In [ ]:
#fazendo tratamento
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
#Verificando NaNs
titanic.Age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [ ]:
#Substituindo NaNs em Age
titanic['Age'].fillna(28, inplace = True)
titanic.Age.isnull().sum()

0

In [ ]:
#verificando moda em Embarked
titanic.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [ ]:
#substituindo NaNs pela moda
titanic.Embarked.fillna('S', inplace= True)
titanic.Embarked.isnull().sum()

0

In [ ]:
#vsubstituindo NaNs de Cabine por -1
titanic.Cabin.fillna('A', inplace = True)
titanic.Cabin.isnull().sum()

titanic.Cabin.value_counts()

A              687
C23 C25 C27      4
G6               4
B96 B98          4
C22 C26          3
              ...
C32              1
E38              1
F38              1
A6               1
A7               1
Name: Cabin, Length: 148, dtype: int64

# Separando treino e teste

In [ ]:
previsores = titanic.iloc[:,2:]
classe = titanic.iloc[:,1]

In [ ]:
#convertendo categoricos para numericos
ctg = ['Name', 'Sex','Ticket', 'Cabin','Embarked'] 


previsores.loc[:,ctg[0]] = LabelEncoder().fit_transform(previsores.loc[:,ctg[0]])

previsores.loc[:,ctg[1]] = LabelEncoder().fit_transform(previsores.loc[:,ctg[1]])

previsores.loc[:,ctg[2]] = LabelEncoder().fit_transform(previsores.loc[:,ctg[2]])

previsores.loc[:,ctg[3]] = LabelEncoder().fit_transform(previsores.loc[:,ctg[3]])

previsores.loc[:,ctg[4]] = LabelEncoder().fit_transform(previsores.loc[:,ctg[4]])

previsores

     Pclass  Name  Sex   Age  SibSp  Parch  Ticket     Fare  Cabin  Embarked
0         3   108    1  22.0      1      0     523   7.2500      0         2
1         1   190    0  38.0      1      0     596  71.2833     82         0
2         3   353    0  26.0      0      0     669   7.9250      0         2
3         1   272    0  35.0      1      0      49  53.1000     56         2
4         3    15    1  35.0      0      0     472   8.0500      0         2
..      ...   ...  ...   ...    ...    ...     ...      ...    ...       ...
886       2   548    1  27.0      0      0     101  13.0000      0         2
887       1   303    0  19.0      0      0      14  30.0000     31         2
888       3   413    0  28.0      1      2     675  23.4500      0         2
889       1    81    1  26.0      0      0       8  30.0000     61         0
890       3   220    1  32.0      0      0     466   7.7500      0         1

[891 rows x 10 columns]

In [ ]:
titanic.head(1)

   PassengerId  Survived  Pclass  ...  Fare Cabin  Embarked
0            1         0       3  ...  7.25     A         S

[1 rows x 12 columns]

In [ ]:
#diviindo train test
X_train, X_test, y_train, y_test = train_test_split(previsores,
                                                    classe,
                                                    test_size= 0.3,
                                                    stratify= classe,
                                                    random_state= 0)

X_train.head()

     Pclass  Name  Sex   Age  SibSp  Parch  Ticket     Fare  Cabin  Embarked
231       3   460    1  29.0      0      0     322   7.7750      0         2
836       3   638    1  21.0      0      0     268   8.6625      0         2
639       3   809    1  28.0      1      0     476  16.1000      0         2
389       2   468    0  17.0      0      0     625  12.0000      0         0
597       3   409    1  49.0      0      0     574   0.0000      0         2

# Naive Bayes

In [ ]:
#treinando
nb = GaussianNB()
nb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
#testando 
previsoes = nb.predict(X_test)

In [ ]:
#verificando precisão
accuracy_score(previsoes, y_test)

0.7798507462686567

In [ ]:
#teste com melhores atributos
X_train1 = X_train.iloc[:,[2,3,5]]
X_test1 = X_test.iloc[:,[2,3,5]]

In [ ]:
nb1 = GaussianNB()
nb1.fit(X_train1, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
previsoes1 = nb1.predict(X_test1)

In [ ]:
accuracy_score(previsoes1, y_test)

0.7835820895522388

# Árvore de decisão

In [ ]:
tree = DecisionTreeClassifier()
tree.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
previsoes = tree.predict(X_test)

In [ ]:
accuracy_score(previsoes, y_test)

0.7873134328358209

Fazendo novo treinamento só com os atributos importantes

In [ ]:
tree.feature_importances_

array([0.08691985, 0.09275622, 0.2907032 , 0.12900548, 0.0361662 ,
       0.01598071, 0.19702152, 0.11560679, 0.02915461, 0.00668541])

In [ ]:
X_train1 = X_train.iloc[:,[2,3,5]]
X_test1 = X_test.iloc[:,[2,3,5]]

In [ ]:
tree1 = DecisionTreeClassifier()
tree1.fit(X_train1, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
previsoes1 = tree1.predict(X_test1)

In [ ]:
accuracy_score(previsoes1, y_test)

0.7649253731343284

# Tratando test.csv para fazer as previsoes

In [ ]:
#lendo o teste
test = pd.read_csv('test.csv')
test.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [ ]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [ ]:
test.Age.describe()

count    332.000000
mean      30.272590
std       14.181209
min        0.170000
25%       21.000000
50%       27.000000
75%       39.000000
max       76.000000
Name: Age, dtype: float64

In [ ]:
test.Age.fillna(27,inplace= True)

In [ ]:
test.Fare.describe()

count    417.000000
mean      35.627188
std       55.907576
min        0.000000
25%        7.895800
50%       14.454200
75%       31.500000
max      512.329200
Name: Fare, dtype: float64

In [ ]:
test.Fare.fillna(14.454200, inplace= True)

In [ ]:
test_array = test.iloc[:,[1,3,4,5,6,8,10]].values
test_array

array([[3, 'male', 34.5, ..., 0, 7.8292, 'Q'],
       [3, 'female', 47.0, ..., 0, 7.0, 'S'],
       [2, 'male', 62.0, ..., 0, 9.6875, 'Q'],
       ...,
       [3, 'male', 38.5, ..., 0, 7.25, 'S'],
       [3, 'male', 27.0, ..., 0, 8.05, 'S'],
       [3, 'male', 27.0, ..., 1, 22.3583, 'C']], dtype=object)

In [ ]:
#convertendo categoricos para numericos
#1, 6

test_array[:,1] = LabelEncoder().fit_transform(test_array[:,1])

test_array[:,6] = LabelEncoder().fit_transform(test_array[:,6])

In [ ]:
test.iloc[:,[1,3,4,5,6,8,10]].head(1)

   Pclass   Sex   Age  SibSp  Parch    Fare Embarked
0       3  male  34.5      0      0  7.8292        Q

In [ ]:
p = nb.predict(test_array)

ValueError: ignored

In [ ]:
sub = pd.Series(p, index=test['PassengerId'], name= 'Survived')

In [ ]:
#sub.to_csv('Naive Bayes 1', header=True)