In [66]:
import pandas as pd
import numpy as np

In [67]:
#lendo csv
dataset = pd.read_csv('trees.csv')
dataset.head()

   Girth  Height  Volume
0    8.3      70    10.3
1    8.6      65    10.3
2    8.8      63    10.2
3   10.5      72    16.4
4   10.7      81    18.8

In [68]:
#tamanho
dataset.shape

(31, 3)

AMOSTRAGEM SIMPLES

In [69]:
#seed
np.random.seed(1234)

#gerando uma amostra de 0 e 1 com o tamanho do dataset e com 70% de 0 e 30% de 1
amostra = np.random.choice(a= [0,1], size= len(dataset), replace= True, p= [0.7, 0.3])

#separando teste e treino
train = dataset.loc[amostra == 0]
test = dataset.loc[amostra == 1]

AMOSTRAGEM ESTRATIFICADA

In [70]:
#importanto sklearn
from sklearn.model_selection import train_test_split

In [71]:
#lendo dados csv
infert = pd.read_csv('infert.csv')
infert

     Unnamed: 0 education  age  ...  spontaneous  stratum  pooled.stratum
0             1    0-5yrs   26  ...            2        1               3
1             2    0-5yrs   42  ...            0        2               1
2             3    0-5yrs   39  ...            0        3               4
3             4    0-5yrs   34  ...            0        4               2
4             5   6-11yrs   35  ...            1        5              32
..          ...       ...  ...  ...          ...      ...             ...
243         244   12+ yrs   31  ...            1       79              45
244         245   12+ yrs   34  ...            0       80              47
245         246   12+ yrs   35  ...            0       81              54
246         247   12+ yrs   29  ...            1       82              43
247         248   12+ yrs   23  ...            1       83              40

[248 rows x 9 columns]

In [72]:
x, _, y, _ = train_test_split(infert.iloc[:, 2:8], infert.iloc[:, 1],
                              test_size= 0.6, stratify= infert.iloc[:, 1])
y

181    6-11yrs
38     6-11yrs
128    12+ yrs
22     6-11yrs
189    6-11yrs
        ...
149    12+ yrs
186    6-11yrs
167     0-5yrs
220    12+ yrs
213    12+ yrs
Name: education, Length: 99, dtype: object

AMOSTRA SISTEMÁTICA

In [73]:
#importando ceil (arredonda para o maior)
from math import ceil

In [74]:
#lendo csv
dataset = pd.read_csv('iris.csv')
dataset

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [75]:
#criação de amostragem de o valor de k (valor que indica a contagem)
população = len(dataset)
amostra = 15
k = ceil(população/amostra)
k

10

In [76]:
# valor randomico r para iniciar a amostra
r = np.random.randint(low= 1, high= k + 1, size= 1)
r

array([9])

In [77]:
#gerando escolhidos a partir do acumulador
acumulador = r[0]
escolhidos = []

for i in range(amostra):
  escolhidos.append(acumulador)
  acumulador += k

escolhidos

[9, 19, 29, 39, 49, 59, 69, 79, 89, 99, 109, 119, 129, 139, 149]

In [78]:
test = dataset.loc[escolhidos]
test

     sepal length  sepal width  petal length  petal width            class
9             4.9          3.1           1.5          0.1      Iris-setosa
19            5.1          3.8           1.5          0.3      Iris-setosa
29            4.7          3.2           1.6          0.2      Iris-setosa
39            5.1          3.4           1.5          0.2      Iris-setosa
49            5.0          3.3           1.4          0.2      Iris-setosa
59            5.2          2.7           3.9          1.4  Iris-versicolor
69            5.6          2.5           3.9          1.1  Iris-versicolor
79            5.7          2.6           3.5          1.0  Iris-versicolor
89            5.5          2.5           4.0          1.3  Iris-versicolor
99            5.7          2.8           4.1          1.3  Iris-versicolor
109           7.2          3.6           6.1          2.5   Iris-virginica
119           6.0          2.2           5.0          1.5   Iris-virginica
129           7.2          3.0           5.8          1.6   Iris-virginica
139           6.9          3.1           5.4          2.1   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica